@import "tailwindcss";

@theme {
  /* primary */
  --color-Dark-Blue: hsl(233, 26%, 24%);
  --color-Lime-Green: hsl(136, 65%, 51%);
  --color-Bright-Cyan: hsl(192, 70%, 51%);

  /* Natural */

  --color-Grayish-Blue: hsl(233, 8%, 62%);
  --color-Light-Grayish-Blue: hsl(220, 16%, 96%);
  --color-Very-Light-Gray: hsl(0, 0%, 98%);
  --color-White: hsl(0, 0%, 100%);

  /* font family */
  --font-public-Sans: "Public Sans";
}

body {
  font-family: var(--font-public-Sans);
}

@media (max-width: 430px) {
  .overlay {
    opacity: 0;
    position: fixed;
    top: 64px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(rgb(45, 49, 77), transparent);
  }

  .fade-in {
    animation: 200ms ease-in-out 0s 1 normal forwards running fade-in;
  }
  .fade-out {
    animation: 200ms ease-in-out 0s 1 normal forwards running fade-out;
  }
}

@keyframes fade-in {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  form {
    opacity: 1;
  }

  to {
    display: none;
    opacity: 0;
  }
}
