@import "tailwindcss";

@theme {
  /* primary */
  --color-Dark-Blue: hsl(233, 26%, 24%);
  --color-Lime-Green: hsl(136, 65%, 51%);
  --color-Bright-Cyan: hsl(192, 70%, 51%);

  /* Natural */

  --color-Grayish-Blue: hsl(233, 8%, 62%);
  --color-Light-Grayish-Blue: hsl(220, 16%, 96%);
  --color-Very-Light-Gray: hsl(0, 0%, 98%);
  --color-White: hsl(0, 0%, 100%);

  /* font family */
  --font-public-Sans: "Public Sans";
}

body {
  font-family: var(--font-public-Sans);
}

.image {
  position: relative;
  background-image: url("/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

.image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/image-mockups.png");
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (min-width: 1024px) {
  .image {
    background-image: url("/assets/images/bg-intro-desktop.svg");
    height: 41rem;
    background-image: none;
    flex: 3;
    position: relative;
  }
  .image::before {
    content: "";
    position: absolute;
    height: 100%;
    background-image: url("/assets/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 150%;
    background-size: 122%;
    background-position: 0% 83%;
  }
  .image::after {
    width: 120%;
    height: 122%;
    background-size: 94%;
    background-position: center 120%;
    left: 3%;
  }
}

@media (max-width: 1024px) {
  .image {
    background-image: url("/assets/images/bg-intro-desktop.svg");
    height: 41rem;
    background-image: none;
    flex: 3;
  }
  .image::before {
    content: "";
    position: absolute;
    height: 100%;
    background-image: url("/assets/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 120%;
    background-size: 195%;
    background-position: 12% 100%;
  }
  .image::after {
    width: 120%;
    height: 100%;
    background-size: 94%;
    background-position: center -360%;
    left: 3%;
  }
}

@media (max-width: 767px) {
  .overlay {
    opacity: 0;
    position: fixed;
    top: 64px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(rgb(45, 49, 77), transparent);
  }

  .fade-in {
    animation: 200ms ease-in-out 0s 1 normal forwards running fade-in;
  }
  .fade-out {
    animation: 200ms ease-in-out 0s 1 normal forwards running fade-out;
  }
}

@keyframes fade-in {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  form {
    opacity: 1;
  }

  to {
    display: none;
    opacity: 0;
  }
}
